<mat-toolbar color='accent'>
  <a 
  routerLink='/'
  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_open</mat-icon>
  </a>
  <span>Exam portal</span>
  <span class="example-spacer"></span>
  <a 

routerLink='login'
  style="margin-right: 5px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Login


  </a>



   <a 

routerLink='signup'
   style="margin-right: 5px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Register


  </a>
<!--   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>